.ournews-create {
    padding: 20px;
    color: #917f27;
    font-family: Arial, sans-serif;
    width: 600px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    
  }
  
  label {
    font-size: 16px;
    font-weight: bold;
    display: block;

    font-weight: bold;         /* 글씨 두께 */
    color: #917f27;               /* 글씨 색상 */
    margin-top: 20px;          /* 상단 여백 */
    margin-bottom: 0px;       /* 하단 여백 */
    text-align: left;          /* 텍스트 정렬 */
    border-bottom: 2px solid #ddd; /* 하단 경계선 추가 */
    padding-bottom: 5px;       /* 하단 여백 추가 */

    
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  input[type="file"] {
    margin-top: 5px;
  }
  
  button.submit-button {
    width: 100%;
    padding: 12px;
    background-color: #917f27;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button.submit-button:hover {
    background-color: #a5933a;
  }
  
  button.submit-button:disabled {
    background-color: #ccc;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
  }
  
  .success-message {
    color: green;
    text-align: center;
    margin-top: 20px;
  }
  