.healing-message-detail {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sub-data {
    display: flex;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.meta h2 {
    margin: 0;
    font-size: 30px;
    color: #333;
}

.meta p {
    padding-top: 18px;
    margin: 0 0;
    color: #777;
}

.content .post-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 20px 0;
}

.content p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

.footer {
    text-align: right;
    color: #777;
    font-size: 14px;
}

.delete-button {
    padding: 8px 24px;
    font-size: 16px;
    background-color: #917f27;
    color: white;
    border: none;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #b8a547;
}
