/* DiaryPage.css */
.diary-container {
    width: 1300px ; 
    display: flex;
    flex-direction: column; /* 요소들을 세로로 배치 */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top : 50px;
    gap : 20px;
  }
  
  .diary-card2 {
    width: 1300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .diary-header {
    gap : 30px; 
    display: flex;
    text-align: right; /* p 태그 내부 텍스트를 오른쪽으로 정렬 */
  }

  .diary-header p{
    padding-top: 50px;
    
  }

  .diary-container img{
    width: 450px; 
    height: auto;

  }
  
  .diary-header h1 {
    text-align: center;
    color: #917f27;
  }
  
  .input-container {
    margin-bottom: 20px;
  }

.input-container label {
  display: block; /* 블록 요소로 설정하여 전체 폭을 차지 */
  text-align: left; /* 텍스트를 왼쪽 정렬 */
  font-weight: bold; /* 선택적으로 추가: 가독성을 높이기 위해 볼드체 */
  margin-bottom: 5px; /* 선택적으로 추가: 입력 필드와 약간의 여백 */
}
  

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    
  }
  
  textarea {
    height: 200px;
  
  }
  
  .submit-btn {
    float: right; /* 버튼을 오른쪽으로 이동 */
    width: 100px;
    padding: 10px;
    background-color: #917f27;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    transform: scale(1.05); /* 크기를 5% 증가 */
    background-color: #b39f33; /* 호버 시 배경 색 변경 */
    color: #f1f1f1; /* 호버 시 글자 색 변경 */
  }
  
  /* DiaryResultPage.css */
  
  .result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .result-card {
    width: 800px;
    height: 760px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .result-card h1 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    text-align: center;
    color: #917f27;
  }
  
  .result {
    text-align: center;
    font-size: 18px;
  }
  
  .result h3 {
    margin: 10px 0;
  }
  
  .message-banner {
    text-align: center;
    font-size: 1.2rem;
    color: #555;
    background-color: white;
    padding-bottom: 10px; 
  
    border-radius: 10px;
    margin-bottom: 20px;

  }
  
  