.diary-container {
  display: flex;
  justify-content: space-between; /* 좌측과 우측을 나누기 */
  width: 1300px;
  height: 80vh;
  margin-top: 50px;
  gap: 20px;
  padding: 20px;
}

.diary-meta-data {
  width: 400px; /* 좌측 영역의 너비 설정 */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease
}

.diary-meta-data:hover{
  transform: scale(1.05);
}

.diary-card2 {
  width: 850px; /* 우측 영역의 너비 설정 */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.diary-header {
  height: 100px;
  gap: 30px;
  display: flex;
  text-align: right;
}
/* 
.diary-header img{
  width: 250px;
  height: auto;
} */

.diary-header p {
  color : gray;
   padding-top: 5px; 
}

.diary-header h1 {
  font-family: "Playfair Display", serif;
  text-align: center;
  color: #917f27;
}

.input-container {
  margin-bottom: 10px;
}

.input-container label {
  font-family: "Playfair Display", serif;
  display: block;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-container input{
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.input-container textarea {
  width: 97%;
  height: 220px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.diary-submit-btn {
  float: right;
  width: 100%;
  padding: 10px;
  background-color: #917f27;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.diary-submit-btn:hover {
  transform: scale(1.05);
  background-color: #b39f33;
  color: #f1f1f1;
}

.message-banner {
  text-align: center;
  font-size: 1.2rem;
  color: #555;
  background-color: white;
  padding-bottom: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* new test*/

.page {
  position: relative;
  box-sizing: border-box;
  width: 800px;
  height: auto;
  font-family: cursive;
  font-size: 20px;
  border-radius: 10px;
  background: #fff;
  background-image: linear-gradient(#f5f5f0 1.1rem, #ccc 1.2rem);
  background-size: 100% 1.2rem;
  line-height: 1.2rem;
  padding: 1.4rem 0.5rem 0.3rem 4.5rem;
}

.page::before,
.page::after {
  position: absolute;
  content: "";
  bottom: 10px;
  width: 40%;
  height: 10px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.7);
  z-index: -1;
  transition: all 0.3s ease;
}

.page::before {
  left: 15px;
  transform: skew(-5deg) rotate(-5deg);
}

.page::after {
  right: 15px;
  transform: skew(5deg) rotate(5deg);
}

.page:hover::before,
.page:hover::after {
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.4);
}

.margin {
  position: absolute;
  border-left: 1px solid #d88;
  height: 100%;
  left: 3.3rem;
  top: 0;
}

.page p {
  margin: 0;
  text-indent: 1rem;
  padding-bottom: 1.2rem;
  color: black;
  line-height: 20px;
}

/* 모바일 대응  */
/* 모바일 대응  */
/* 모바일 대응  */
/* 모바일 대응  */
/* 모바일 대응  */

@media (max-width : 768px){

  .diary-container {
    display: grid;
    justify-content: space-between; /* 좌측과 우측을 나누기 */
    width: 100%;
    height: auto;
    padding : 1vh 4vw .05vh 0vw;
    margin-top: 20vh;
    gap: 3vh;
  }
  
  .diary-meta-data {
    width: 95%; /* 좌측 영역의 너비 설정 */
    padding: 1vh 3vw;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease
  }
  
  .diary-meta-data:hover{
    transform: scale(1.05);
  }
  
  .input-container {
    margin-bottom: 1vh;
    width : 95%;
  }
  
  .input-container label {
    font-family: "Playfair Display", serif;
    display: block;
    text-align: left;
    font-weight: bold;
    margin-bottom: 1.5vh;
  }
  
  .input-container input{
    width: 85%;
    padding: 0px;
    margin-top: 1vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
  }
  
  .input-container textarea {
    width: 95%;
    height: 30vh;
    padding: 1vh 2vw;
    margin-top: 1vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
  }
  
  .diary-submit-btn {
    float: left;
    width: 96%;
    padding: 1.5vh 2vw;
    background-color: #917f27;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .diary-submit-btn:hover {
    transform: scale(1.05);
    background-color: #b39f33;
    color: #f1f1f1;
  }
  
  .message-banner {
    
    text-align: center;
    font-size: 1.2rem;
    color: #555;
    background-color: white;
    border-radius: 10px;
    margin-bottom : 2vh;
    
    
  }
  
  .diary-header p {
    display: none;
    font-size: 0.2rem;
    color : gray;
    padding-top: 1.5vh; 
  }
  
  .diary-card2 {
    width: 97%; /*우측 영역의 너비 설정 */
    padding: 2vh 2.5vw;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .diary-header {
    height: 20vh;
    width: 90%;
    gap: 0vh;
    display: flex;
    text-align: right;
    
  }
  
  .diary-header img {
    width: 100%;
    height: auto;
    display: block;
    margin: 1vh 1vw 0.5vh 4vw;
    
}

  .diary-header h1 {
    font-family: "Playfair Display", serif;
    text-align: center;
    color: #917f27;
  }
  
  .diary-body{
    margin-top : 0vh;
  }
  
}