.healing-community-container {
  display: flex;
  margin-right: 50px;
  width: 1000px;
  flex-direction: row;  /* 카드들을 가로로 배치 */
  align-items: flex-start;  /* 카드들을 왼쪽으로 정렬 */
  gap: 20px;               /* 카드들 사이에 간격 추가 */
  padding: 20px;           /* 컨테이너 여백 */
}

.heal-card {
  display: row;
  width: 500px;            /* 카드 너비 */
  height: 800px;
  padding: 20px;           /* 카드 안쪽 여백 */
  border: 1px solid #ccc; /* 카드 테두리 */
  border-radius: 10px;     /* 카드 모서리 둥글게 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  text-align: center;      /* 카드 안의 내용 중앙 정렬 */
  transition: transform 0.3s ease; /* 호버 시 크기 변화를 부드럽게 */
  /* background-color: #ccc; */
}

.heal-card img {
  height: 280px;
}

.heal-card:hover {
  transform: scale(1.05);  /* 호버 시 5% 커지도록 설정 */
}

.heal-card h3 {
  margin-bottom: 10px;    /* 카드 제목과 본문 사이 간격 */
  font-size: 2rem;      /* 글자 크기 조정 */
  /* font-family: "Playfair Display", serif; */
}

.heal-card p {
  font-size: 14px;
  color: #555;            /* 텍스트 색상 */
}

@media (max-width : 768px){
  .healing-community-container {
    display: grid;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    flex-direction: row;  /* 카드들을 가로로 배치 */
    align-items: flex-start;  /* 카드들을 왼쪽으로 정렬 */
    gap: 2%;               /* 카드들 사이에 간격 추가 */
    padding: 0px;           /* 컨테이너 여백 */
  }
  
  .heal-card {
    display: row;
    width: 100%;            /* 카드 너비 */
    height: 800px;
    padding: 15px;           /* 카드 안쪽 여백 */
    border: 1px solid #ccc; /* 카드 테두리 */
    border-radius: 10px;     /* 카드 모서리 둥글게 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    text-align: center;      /* 카드 안의 내용 중앙 정렬 */
    transition: transform 0.3s ease; /* 호버 시 크기 변화를 부드럽게 */
    /* background-color: #ccc; */
  }
  
  .heal-card img {
    height: 280px;
  }
  
  .heal-card:hover {
    transform: scale(1.05);  /* 호버 시 5% 커지도록 설정 */
  }
  
  .heal-card h3 {
    margin-bottom: 10px;    /* 카드 제목과 본문 사이 간격 */
    font-size: 2rem;      /* 글자 크기 조정 */
    /* font-family: "Playfair Display", serif; */
  }
  
  .heal-card p {
    font-size: 14px;
    color: #555;            /* 텍스트 색상 */
  }
  

}