.healing-message-detail {
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

.author-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-info img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-info{
    gap:70px
}


.nickname {
    font-weight: bold;
    margin-right: 10px;
    
}

.created-date {
    color: #888;
    
}

.post-image {
    width: 100%;
    max-height: 400px;
    border-radius: 8px;
    margin: 20px 0;
}

.content {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.like-section {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.like-button {
    background: none;
    border: none;
    color: #e74c3c;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}

.comment-section {
    margin-top: 20px;
}

.comment-section h3 {
    margin-bottom: 3px;
}

.comment-section ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.comment-section li {
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.comment-section textarea {
    width: 98%;
    height: 80px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none; 
    margin-bottom: 10px;
    font-size: 14px;
}

.comment-section button {
    padding: 10px 20px;
    background-color:  #a5933a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.comment-section button:hover {
    background-color:  #b4a455;
}

/* 댓글 내용과 버튼을 감싸는 컨테이너 */
.comment-content-container {
    display: flex;
    justify-content: space-between; /* 댓글 내용과 버튼을 양쪽 끝으로 배치 */
    align-items: center;
    gap :10px; 
  }

  .hover-button-comment:hover {
    transform: scale(1.05); /* 1.05배 크기 증가 */
}
