.signup-header{
  text-align: left; /* 좌측 정렬 */
  display: flex;
  align-items: center;
}

.description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
  text-align: left; /* 설명도 왼쪽 정렬 */
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 3s steps(30) 1s forwards, blink 0.75s step-end infinite;
}

.line {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 3s steps(30) forwards, blink 0.75s step-end infinite;
}

.line1 {
  animation-delay: 0s, 2.5s;
}

.line2 {
  animation-delay: 3.2s, 5s;
}

.line3 {
  animation-delay: 5.5s, 10s;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* 서비스 로고 */
.logo-container img {
    height: 170px;
    display: block; /* 블록 요소로 변경하여 정렬 효과 적용 */
    padding-left: 4px;
  }
  
  /* 전체 페이지 스타일 */
  .signup-container {
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: #f7f7f7; /* 배경 색상 */
  }

  .signup-card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #917f27;
    width: 800px;
    height: 610px;
    text-align: center;
  }

  .login-input-form-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* 좌우 간격 조정 */
    width: 100%;
  }
  
  .login-left,
  .login-right {
    flex: 1; /* 좌우 균등한 크기 */
    display: flex;
    flex-direction: column;
  }
    
  
  /* 아이디/비밀번호 입력 칸 스타일 */
  .signup-input-container {
    margin-bottom: 20px;
  }
  
  .signup-input-container label {
    display: block;
    font-size: 14px;
    color: #917f27;
    margin-bottom: 5px;
  }
  
  .signup-input-container input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #917f27;
    box-sizing: border-box;
  }
  
  .signup-input-container input:focus {
    border-color: #917f27;
    outline: none;
  }
  
  /* 성별 선택 라디오 버튼 스타일 */
  .gender-options {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .gender-options label {
    font-size: 14px;
    color: #917f27;
  }
  
  /* 회원가입 버튼 스타일 */
  .signup-btn {
    width: 100%;
    padding: 12px;
    background-color: #917f27;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .signup-btn:hover {
    background-color: #ab9839;
    transform: scale(1.10);
  }
  
  /* 모바일 대응 */
  /* 모바일 대응 */
  /* 모바일 대응 */
  /* 모바일 대응 */
  /* 모바일 대응 */

  @media (max-width :768px){

    /* 전체 페이지 스타일 */
    .signup-container {
      width : 100vw;
      height: auto;
      margin-top: 17vh;
      margin-bottom: 0px;
      display: flex;
      justify-content: center;
      align-items: center;     
      background-color: white; /* 배경 색상 */
    }

    .signup-header{
      text-align: left; /* 좌측 정렬 */
      display: grid;
      align-items: center;
    }
    
    .signup-description {
      font-size: 0.8rem;
      color: #666;
      margin-bottom: 0.8vh;
      text-align: left; /* 설명도 왼쪽 정렬 */
      white-space: normal; /* 자동 줄바꿈 허용 */
    
      /* overflow: hidden; */
      width: 100%;
      animation: typing 3s steps(30) 1s forwards, blink 0.75s step-end infinite;
    }
    
    .line {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      width: 0;
      animation: typing 3s steps(30) forwards, blink 0.75s step-end infinite;
    }
    
    .line1 {
      animation-delay: 0s, 2.5s;
    }
    
    .line2 {
      animation-delay: 3.2s, 5s;
    }
    
    .line3 {
      animation-delay: 5.5s, 10s;
    }
    
    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }
    
    @keyframes blink {
      50% {
        border-color: transparent;
      }
    }
    
    /* 서비스 로고 */
    .logo-container img {
      width :  100%;
        height: auto;
        display: block; /* 블록 요소로 변경하여 정렬 효과 적용 */
        padding-left: 0px;
      }
    
      .signup-card {
        width: 90vw;
        background-color: white;
        padding: 2vh 3vw;
        border-radius: 10px;
        box-shadow: 0 4px 8px #917f27;
        height: auto;
        text-align: center;
      }
    
      .login-input-form-container {
        display: grid;
        /* justify-content: space-between; */
        width: 100%;
      }
      
      .login-left{
        width: 90vw;
      }
      .login-right {
       width: 90vw;
      }
        
      /* 아이디/비밀번호 입력 칸 스타일 */
      .signup-input-container {
        width : 100%;
        margin-bottom: 1vh;
      }
      
      .signup-input-container label {
        display: block;
        font-size: 0.9rem;
        color: #917f27;
        margin-bottom: 0.6vh;
      }
      
      .signup-input-container input {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 0.9rem;
        color: #917f27;
        box-sizing: border-box;
      }
      
      .signup-input-container input:focus {
        border-color: #917f27;
        outline: none;
      }
      
      
      /* 회원가입 버튼 스타일 */
      .signup-btn {
        width: 100%;
        padding: 12px;
        background-color: #917f27;
        color: white;
        font-size: 16px;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      
      .signup-btn:hover {
        background-color: #ab9839;
        transform: scale(1.10);
      }
      
  }