.team-member-img img{
    max-width: 1000px;
    height: auto; /* 비율 유지 */
    border-radius: 10px; /* 둥근 모서리 (선택 사항) */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 (선택 사항) */
    transition: transform 0.3s ease; /* 호버 시 크기 변화를 부드럽게 */
    padding : 30px;
}

.team-member-img img:hover{
  transform: scale(1.05);  /* 호버 시 5% 커지도록 설정 */
}

.team-recruit h2{
  font-size: 24px;           /* 글씨 크기 */
  font-weight: bold;         /* 글씨 두께 */
  color: #917f27;               /* 글씨 색상 */
  margin-top: 20px;          /* 상단 여백 */
  margin-bottom: 10px;       /* 하단 여백 */
  text-align: left;          /* 텍스트 정렬 */
  border-bottom: 2px solid #ddd; /* 하단 경계선 추가 */
  padding-bottom: 5px;       /* 하단 여백 추가 */
}