.team-member-img img{
    max-width: 1000px;
    height: auto; /* 비율 유지 */
    border-radius: 10px; /* 둥근 모서리 (선택 사항) */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 (선택 사항) */
    transition: transform 0.3s ease; /* 호버 시 크기 변화를 부드럽게 */
    padding : 30px;
}

.team-member-img img:hover{
  transform: scale(1.05);  /* 호버 시 5% 커지도록 설정 */
}