.ai-service-container {
  
    text-align: center;
    padding: 20px;
  }
  
  .ai-service-container img{
    width: 500px;
    height :auto ;
  }

  .ai-service-container p{
    /* padding-bottom: 30px; */
  }

  .card-container {
    display: flex;
    flex-direction: column; /* 세로 배치 */
    justify-content: center;
    gap: 30px;
  }
  
  .service-card {

    display: flex;
    flex-direction: row; /* 세로 배치 */

    background-color: #fff;
    padding: 20px;
    width: 900px;
    height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border-radius: 10px;

    border: 1px solid #ccc; /* 테두리 추가 (두께: 2px, 색상: #ccc) */
  }

  .service-card img{
        width :460px;
        height: 300px;
        border-radius: 8px;
  }
  
  .service-card:hover {
    transform: scale(1.10); /* 호버 시 크기가 10% 증가 */
  }
  
  .service-card h2 {
    /* font-family: "Playfair Display", serif; */
    font-optical-sizing: auto;
    color: #917f27;

    font-size: 2rem;
    margin-bottom: 15px;
  }

  .healing-description {
    display: flex;
    flex-direction: column; /* 세로 배치 */
  }
  
  .service-description {
    font-size: 1rem;
    color: #555;
    /* line-height: 1.5; */
  }
  
