.healing-music-header {
    width: 1000px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 270px;
    margin-bottom: 100px;
}

.healing-music-header img{
 width: 50%;
 height: auto;   
}

.healing-music-logo img {
    height: 270px;
    border-radius: 15px;
}

.create-music-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #917f27;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.create-music-button:hover {
    background-color: #a5933a;
}

.healing-music-list {
    padding: 20px;
    font-family: Arial, sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

.music-item {
    display: flex;
    align-items: center;
    width: 1000px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.music-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.music-thumbnail {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    margin-right: 15px;
}

.music-info h3 {
    margin: 0 0 10px 0;
}

.music-info p {
    margin: 5px 0;
    color: #555;
}

@media (max-width : 768px){

    .healing-music-list{      
        margin-top : 17vh;
        width: 95%;
        
        margin-right: 10vw;
       
    }

    .healing-music-header {
        margin-top : 3vh;
        display: grid;
        
        /* position: relative;
        align-items: center;
        justify-content: center; */
        width: 100%;
        height: auto;
        margin-bottom: 0px;
    }
    
    .healing-music-header img {
        width: 90%;
        height: auto;
        border-radius: 15px;
        margin-bottom: 10vh;
    }
    
    .healing-music-header button {
        position: absolute;
        bottom: 2vh;
        right: 3vw;
        padding: 1vh 2.5vw;
        background-color: #917f27;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.1rem;
        transition: background-color 0.3s ease;
    }
    
    .healing-music-header button:hover {
        background-color: #a5933a;
    }
    
    
    ul {
        list-style: none;
        padding: 0vh 5vw 0vh 1vw;
    }
    
    .music-item {
        display: flex;
        align-items: center;
        width: 100%;
        background: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;
        margin-bottom: 2vh;
        padding: 1vh 1vw;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    .music-item:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
    
    .music-thumbnail {
        width: 40%;
        height: auto;
        border-radius: 8px;
        margin-left : 2vw;
        margin-right: 2vw;
    }
    
    .music-info h3 {
        font-size: 1.4rem;
        margin: 1vh 2vw;
    }
    
    .music-info p {
        font-size: 0.6rem;
        margin: 1vh 2vw;
        color: #555;
    }
    
}