.healing-music-detail {
    width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;

    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.author-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.nickname {
    font-weight: bold;
    margin-right: 10px;
}

.created-date {
    color: #888;
}

.content {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.video-container {
    margin: 20px 0;
}

.healing-music-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 20px 0;
}

.like-section {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.like-button {
    background: none;
    border: none;
    color: #e74c3c;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}

@media (max-width :768px){
    .healing-music-detail {
        width: 100%;
        margin-top: 19vh;
        font-family: Arial, sans-serif;
        line-height: 1.6;
        padding: 0vh 2vw;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #f9f9f9;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    .author-info {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .author-info img{
        width: 20%;
        height :auto;
    }

    .healing-music-detail h1{
        margin-left : 5vw;
    }
    
    /* .profile-image {
        width: 0px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    } */
    
    .nickname {
        font-weight: bold;
        margin-right: 4vw;
    }

    .healing-music-comment-section textarea{
        width: 90%;
        height: 8vh;
        padding: 1vh 3vw;
        border: 1px solid #ddd;
        border-radius: 4px;
        resize: none; 
        margin-bottom: 1vh;
        font-size: 1rem;
    }

    .healing-music-comment-section button{
        padding: 1.2vh 3vw;
        background-color:  #a5933a;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        
    }

    .healing-music-comment-section button:hover {
        background-color:  #b4a455;
    }
    

    /* 댓글 부분 관리하기  */
   
    .healing-music-comment-section li {
        padding: 1vh 3vw;
        background: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-bottom: 1.7vh;
    }

    .created-date {
        color: #888;
    }
    
    .content {
        font-size: 300px;
        color: #333;
        margin-bottom: 20px;
    }
    
    .video-container {
        margin: 20px 0;
    }
    
    .healing-music-image {
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin: 20px 0;
    }
    
    .like-section {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }
    
    .like-button {
        background: none;
        border: none;
        color: #e74c3c;
        font-size: 18px;
        cursor: pointer;
        outline: none;
    }
 
    .comment-info{
        width: 100%;
        gap : 2vw
    }
    .comment-info img {
        width: 20% ;
        height: auto;
    }
    .nickname2{
        font-size: 0.9rem;
        margin-right: 4vw;
    }
    .created-date{
        font-size: 0.7rem;
    }
   
    .healing-music-detail-li{
        width: 95%;
        
    }
}