.ai-letter-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 내용 상단 정렬 */
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .ai-letter-container img {
    width: 400px;
    height: auto;
    align-self: center; /* 로고는 가운데 정렬 */
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-align: left; /* 제목은 왼쪽 정렬 */
  }
  
  .description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
    text-align: left; /* 설명도 왼쪽 정렬 */
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(30) 1s forwards, blink 0.75s step-end infinite;
  }
  
  .story-input {
    width: 1200px; /* 가운데 정렬을 위해 넓이를 50%로 설정 */
    height: 300px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    resize: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-self: center; /* input 영역을 가운데 정렬 */
  }
  
  .story-input:focus {
    outline: none;
    border-color: #020e1c;
    box-shadow: 0 0 5px rgba(30, 31, 31, 0.811);
  }
  
  .ai-letter-submit-button {
    width: 130px;
    height: 50px;
    font-size: 1rem;
    color: #fff;
    background-color: #917f27;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.8s ease;
    margin-left: auto; /* 버튼을 오른쪽으로 정렬 */
  }
  
  .ai-letter-submit-button:disabled {
    background-color: #917f27;
    cursor: not-allowed;
  }
  
  .ai-letter-submit-button:hover:not(:disabled) {
    background-color: #b8a750;
    transform: scale(1.05);
  }
  
  .line {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(30) forwards, blink 0.75s step-end infinite;
  }
  
  .line1 {
    animation-delay: 0s, 2.5s;
  }
  
  .line2 {
    animation-delay: 3.2s, 5s;
  }
  
  .line3 {
    animation-delay: 5.5s, 10s;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  